{:kotoba.app/id "cloud.itonami.isic-9412", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifkc7nkixs5tvmmmx5dn5ifjhwhgeocyepf4nawhosqxf4gfkmypm", :kotoba.app/embed-url "ipfs://bafkreifkc7nkixs5tvmmmx5dn5ifjhwhgeocyepf4nawhosqxf4gfkmypm", :published {:archive "https://kotobase.net/ipfs/bafkreifkc7nkixs5tvmmmx5dn5ifjhwhgeocyepf4nawhosqxf4gfkmypm", :size 75305, :put-status 201, :get-status 200, :at "2026-08-15T13:49:54.165Z"}}
